*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: (90%, 1120px);
    height: 100vh;
    background: url("https://webneel.com/daily/sites/default/files/images/daily/08-2018/1-nature-photography-spring-season-mumtazshamsee.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 
     
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container h1 {
    position: absolute;
    top: 45%;
    left:45%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 90px;
    font-family: 600;
    letter-spacing: 3px;
}
.quotes{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}
.quotes h2 {
    font-size: 50px;
    margin-top: 20px;
    font-weight: bold;

}


